@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

h1{
  font-family:Source Sans Pro;
  font-size:4em;
  text-align:center;
  color:#32FF58;
}
html {
  background:-webkit-gradient(linear, left top, left bottom, from(#277DFF),to(#0A1DFF)) no-repeat #0A1DFF;
}

div {
  background-color:-webkit-gradient(linear, left top, left bottom, from(#E4FF2B), to(#FFBC00));
  border-radius:100px;
}
