@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

h1, h2{
  font-family:Source Sans Pro;
  font-size:4em;
  text-align:center;
  color:#32FF58;
}
html {
  background:-webkit-gradient(linear, left top, left bottom, from(#277DFF),to(#0A1DFF)) no-repeat #0A1DFF;
  background:-moz-gradient(linear, left top, left bottom, from(#277DFF),to(#0A1DFF)) no-repeat #0A1DFF;
  background:-ms-gradient(linear, left top, left bottom, from(#277DFF),to(#0A1DFF)) no-repeat #0A1DFF;
  background:-o-gradient(linear, left top, left bottom, from(#277DFF),to(#0A1DFF)) no-repeat #0A1DFF;
}

.circle {
  height:150px;
  width:150px;
  background:-webkit-gradient(linear, left top, left bottom, from(#E4FF2B), to(#FF8D00));
  border-radius:100px;
  display:inline-block;
  border:2px solid #E4FF2B;
  margin:10px;
}
.container{ 
  margin:10px auto;
  text-align:center;
}
